.abc{
    color: red;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
h2{
    text-align: center;
    font-family: Cambria;
    color:#FF5151;
} 
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #CAF0F8;
}   
.container{
    width: 980px;
    margin: auto; /*căn lề*/
}
img{
    width:100%;
}
header .top-nav img{
    width: 30%;
    margin: 20px 0;
}
header{
    text-align: center;
}
header ul{
    background-color: #90E0EF
}
header .bottom-nav{
  
    background:#90E0EF ;
    text-align: center;
}
header ul{
    margin: 0;
}
header ul li{
    list-style: none; /*// dùng để bỏ dấu chấm*/
    display: inline-block; /*inline là cùng dọc, con block như là cái khối í, nó xếp theo dọc, inline-block là vùa có thể xép ngang và dọc*/
    /* margin: 10px; dãn cách| 10px = top 10px, right 10px, botton 10px, left 10px  | đây là cách  viết ngắn ngọn */
    padding: 5px 10px;
    /* border-right: 1px solid white; gạch dọc */
    
}
header a{
    text-decoration: none; /*bỏ dấu gạch chân*/
    font-size: 18px;
    text-transform: capitalize; /*dịnh dạng chữ| HOA, thường: viết hoa chữ cái đầu của từ*/
    color:white;
}
header a:hover{
    color: orangered;
    text-decoration: underline;
}
header li:hover{
    background: #00B4D8;
}
header ul ul{
    position: absolute;
    width: 150px;
    margin: 5px 0 0 0;
    padding: 0 0 0 7px;
    display: none;
    text-align: left;
}
header ul li:hover ul{
    display: block;
}
header ul ul a{
    background-color: #90E0EF;
    color: white;   
    display: block; 
    
}
header li li:hover{
    background: #90E0EF;
    text-decoration: underline;

}
header ul ul a:hover{
    background-color: #00B4D8;
    color: orangered;
}
.trangcon .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /*chia cột*/
    grid-gap: 10px;
}
.row .collumn{
    background: white;
    text-align: center; 
}
.row .collumn img{
    height: 55%;
    width:80%;
    margin: 15px auto;
}
.row .collumn a{
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color:black;
    font-weight: 500;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.row .collumn a:hover
{
    color: #FF9F45;
}
del{
    font-style: italic;
}
.row .collumn p{
    color: red;
    font-weight: 600;
    padding: 5px;
    margin: 0;
}
.row .collumn:hover {
    border-width: 2px;
    border-color: orangered;
    border-style: solid;    
}
.row .collumn .img:hover{ /*img: tag name | .img: class*/
    transform: translateY(-40px);
}
.row .collumn button{
   padding: 7px;
   border: 2px solid #00B4D8;
   border-radius: 3px;
   background: rgb(250, 250, 183);
}

.row .collumn button:hover{
    background-color: #CAF0F8;
}

.row .collumn button:active{
    background-color: red;
} 
.row .collumn .buy{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
}
.row .collumn .buy img{
    width: 35px;
    height: 35px;
    margin-right: 5px;
}
.row .collumn .buy a{
    padding: 0;
}
footer{
    display: grid;  /*hiển thị dạng lưới*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

}
footer .left, .mid, .right{
    text-align: center;
}
footer{
    display: grid; 
    grid-template-columns: 350px 1fr 1fr;
    grid-gap: 20px;
    background: #A3E4DB;
}
footer left, right, li, footer h3{
    list-style: none;
    text-align: left;
    padding-left: 15px;    
}


